.plant {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
    align-items: center;
}

.plant-photo {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
}

.plant-name {
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}

.plant-botanical-name {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.plant-type {
    font-size: 16px;
    font-weight: normal;
    color: rgb(75, 75, 75);
}
